<<html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view complaint</title>
</head>
<body>

<div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                        Name
                          </th>
                          <th>
                            Email
                          </th>
                             <th>
                            Subject
                          </th>
                             <th>
                            Message
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                      <tr>
                    <td>{{d.Name}}</td>
                    <td>{{d.Email}}</td>
                          <td>{{d.Subject}}</td>
                           <td>{{d.Message}}</td>


 <td>

                                 <form action="{% url 'deletecomplaint' dataid=d.id %}">
                               <button onclick="alertmsg()" type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
<script>
        function alertmsg(){
            window.alert("Deleted Successfully")
        }
  </script>
</body>
</html>
{% endblock %}