<html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view category</title>
</head>
<body>

<div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                        Product name
                          </th>
                          <th>
                            Description
                          </th>
                             <th>
                            Category
                          </th>
                             <th>
                            Quantity
                          </th>
                             <th>
                            Price
                          </th>
                             <th>
                           Image
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                      <tr>
                    <td>{{d.Name}}</td>
                    <td>{{d.Description}}</td>
                          <td>{{d.Category}}</td>
                           <td>{{d.Quantity}}</td>
                          <td>{{d.Price}}</td>

                   <td>
                       <img src="{{d.Image.url}}">
                            </td>
 <td>
                                <form action="{% url 'editproduct' dataid=d.id %}">
                               <button type="submit" class="btn btn-success">Edit</button>
                                </form>
                                 <form action="{% url 'deleteproduct' dataid=d.id %}">
                               <button onclick="alertmsg()" type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
<script>
        function alertmsg(){
            window.alert("Deleted Successfully")
        }
  </script>
</body>
</html>
{% endblock %}